
 #windowStage{
	-fx-background-image: url("../firstLogo.png") ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: cover  ;
	}

#bottonBar{	
		-fx-alignment: center;
		-fx-background-color: rgb(37,183,231) ;
}




 